.add-to-library {
  .dynamic-form {
    label {
      font-size: 12px !important;
      margin-bottom: 0.5rem !important;
      color: #121213e0;
      font-weight: 600;
    }

    .sb-textbox,
    select,
    .sb-textarea,
    .list-border {
      border: 1px solid rgba(34, 36, 38, 0.15) !important;
      padding: 0.85rem 0.5rem !important;
      border-radius: 0.28571429rem;
      font-size: 0.785rem !important;
      font-weight: 500;
    }

  .multi-select-container{
    .list-border{
      ul{
        @extend label;
        color: #333;
        padding: 0;
        margin: 0 !important;
        opacity: 1 !important;
        font-weight: 500 !important;
        }
      }
    }

  .sb-modal-dropdown-web{
    ul{
      color: #333;
      padding: 0;
      margin: 0 !important;
      opacity: 1 !important;
      font-size: 12px !important;
      font-weight: 500;
      border: 2px solid #eeeeef;
  }
}
  .sb-keywordbox{
    border: 1px solid rgba(34,36,38,.15) !important;
    padding: .45rem .5rem!important;
    border-radius: .28571429rem;
    font-size: 0.785rem !important;
    font-weight: 500;
    padding: 0 !important;
    .ng2-tag-input{
      padding: 0;
      tag{
        margin-left: 0.5rem;
      }
    }
    .ng2-tags-container{
      margin-top: 0.2rem;
    }
    .tag-wrapper,delete-icon svg{
      height: 24px;
      line-height: 24px;
    }
  }
  .topic-picker-selector{
    @extend .sb-textbox;
  }
  .sb-dropdown{
    label{
      padding: 0;
    }
  }
  .sb-textarea-container{
    .sb-textarea{
      height: 2.7rem;
    }
    label{
      padding: 0;
    }
  }
  .sb-checkbox{
    padding: 1.5rem 0;
    margin-top: 2rem;
  }
    sb-icon-dropdown{
      top: 10px !important;
      right: 6px !important;
    }
  }
  .sb-textarea-container,
  .sb-dropdown{
    margin: 1rem 0 !important;
  }
}
.sb-fixed-with-whitebg {
  position: fixed;
  width: 100%;
  border-top: 1px solid #ddd;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  padding: 0 !important;
  .sb-btn-cover{
    padding: 0.5rem 2.21rem 0.5rem 0.5rem;
    border-right: solid 1px #ccc;
    .sb-btn{
      &:hover{
        background: none !important;
        color:var(--primary-400);
      }
    }
  }
}

.bx-none .ui.modal{
  box-shadow:none !important;
}

.overflow-modal {
  .ui.modal{
    box-shadow: none;
  }
  .sb-tabset-segment{
    border: none;
  }
}
.eight.bg-white{
  border-left: solid 1px var(--gray-100);
  padding-bottom: 4.5rem !important;
}
.sb-search-input::-webkit-input-placeholder {
  padding-left: 1.4rem !important;
}
.ckeditor-tool__solution .menu {
  .item{
    font-size: 0.785rem !important;
  }
}

lib-contentplayer-page{
  height:380px
}
.aspectratio{
  lib-contentplayer-page{
    display: block;
  }
}

 //aspect ratio
 .aspectratio {
  position: relative;
  height: 0;
  width: 100%;
  &[data-ratio="16:9"] {
    padding-top: 56.25%;
  }
  [data-ratio="4:3"] {
    padding-top: 75%;
  }
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    video,iframe {
      width: 100%;
      height: 100% !important;
    }
  }
  &.player-fullscreen {
    width: 100%;
    height: calc(100vh - 4rem) !important;
    position:fixed;
    top:calculateRem(0px);//50px
    left:0;
    bottom:0;
    right:0;
    border:none;
    margin:0;
    padding:0;
    z-index:9999;
   }
   &.player-fullscreen iframe, &.player-fullscreen video {
    width: 100%;
    height: calc(100vh - 4rem) !important;
    background:var(--white);
 }
}
//select content modal UI
.sb-chapterlist-accordion {
  &.ui.styled.accordion {
    background: inherit;
    .active.title {
      border: 1px solid $primary-200;
      border-bottom: none;
      background-color: #F3F8FF;
      font-weight: $font-weight-bold;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: $font-size-sm;
      .chevron-icon {
        background: #D9E4F2;
        border-left: none;
      }
      .chapter-status {
        background: $primary-color;
      }
    }
    .title {
      margin-top: $base-block-space;
      background: $gray-0;
      border: 1px solid $gray-100;
      border-radius: 4px;
      font-size: $font-size-sm;
      .chevron-icon {
        background: $gray-0;
        border-left: 1px solid $gray-100;
      }
      .chapter-status {
        height: $base-block-space;
        width: $base-block-space;
        border-radius: 50%;
        background: $gray-100;
      }
    }
    .sb-chapterlist-child {
      .active.title {
        border-top: 1px solid $primary-200;
        border-radius: 0;
        .chapter-status {
          background: #88B7E6;
        }
      }
      .title {
        margin-top: 0;
        border-radius: 0px 0px 4px 4px;
        border: none;
        border-top: 1px solid $gray-100;
      }
      .content {
        border: none;
      }
      .chevron-icon {
        border-top-right-radius: 0px;
      }
    }
    .content {
      border: 1px solid $primary-200;
      border-top: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background: $white-color;
    }
    .chevron-icon {
      height: 56px;
      width: 56px;
      margin: -9px -12px -8px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .chevron.down.icon {
      height: auto;
    }
    .accordion {
      .active.title {
        border: 1px solid $primary-200;
        border-bottom: none;
        background-color: #F3F8FF;
        font-weight: $font-weight-bold;
      }
      .content {
        border: 1px solid $primary-200;
        border-top: none;
      }
    }
  }
}
.ui.scrolling.modal{
  box-shadow: none;
}
//Toggle UI
.sbtoc-container .ui.toggle.checkbox label:before{
  width: 4rem !important;
  background: rgba(0,0,0,.15) !important;
}
.ui.toggle.checkbox input:checked~label:after{
  left: 3rem !important;
}
.sb-custom-radio{
  float: right;
  margin-right: 3.7rem;
  margin-top: 0.6rem;
}