
.bx-none .ui.modal{
  box-shadow:none !important;
}

.overflow-modal {
  .ui.modal{
    box-shadow: none;
  }
  .sb-tabset-segment{
    border: none;
  }
}
.eight.bg-white{
  border-left: solid 1px var(--gray-100);
  padding-bottom: 4.5rem !important;
}
.sb-search-input::-webkit-input-placeholder {
  padding-left: 1.4rem !important;
}
.ckeditor-tool__solution .menu {
  .item{
    font-size: 0.785rem !important;
  }
}

