version: 2.1
jobs:
  build:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: run build file
          command: /bin/bash -x build.sh ${CIRCLE_SHA1} test
  test-cases:
    working_directory: ~/sunbird-collection-editor
    machine:
      image: ubuntu-1604:202101-01
    steps:
      - checkout:
          path: ~/sunbird-collection-editor
      - run:
          name: Node version
          command: 'node --version'
      - run:
          name: Installing angular cli
          command: 'npm install -g @angular/cli@6.0.8 --no-progress'
      #~ - restore_cache:
          #~ key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Installing npm deps
          command: 'npm install --no-progress'
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths: ./node_modules
      - run:
          name: ng lint and building
          command: 'mkdir -p /tmp/logs && npm run build-lib:prod | tee /tmp/logs/build.log'
      - run:
          name: Executing test cases
          command: 'npm run test-coverage | tee /tmp/logs/test_cases.log'
      - run:
          name: Install sonar scanner
          command: npm install -g sonarqube-scanner
      - run:
          name: Run sonar scanner
          command: 'cd ~/sunbird-collection-editor && sonar-scanner'
      - run:
          name: Publish to NPM
          command: |
            if [ -n $CIRCLE_PR_NUMBER ]; then
              npm run build-lib && npm pack ./dist/collection-editor-library
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
              npm publish project-sunbird-sunbird-collection-editor-*
            else
              npm run build-lib && npm pack ./dist/collection-editor-library
            fi
workflows:
  version: 2
  build_and_test:
    jobs:
      - test-cases
