/* Load fonts first*/
@import "./fonts/notosans/notosans.css";
@import "./fonts/notosans-bengali/notosansbengali.css";
@import "./fonts/notosans-malayalam/notosansmalayalam.css";
@import "./fonts/notosans-gurmukhi/notosansgurmukhi.css";
@import "./fonts/notosans-devanagari/notosansdevanagari.css";
@import "./fonts/notosans-gujarati/notosansgujarati.css";
@import "./fonts/notosans-telugu/notosanstelugu.css";
@import "./fonts/notosans-tamil/notosanstamil.css";
@import "./fonts/notosans-kannada/notosanskannada.css";
@import "./fonts/notosans-oriya/notosansoriya.css";
@import "./fonts/noto-nastaliqurdu/notonastaliqurdu.css";

@import "./mixins/mixins";
@import "./variables";
@import "./base/base.scss";
@import "./vendors/vendors";
@import "./components/components.scss";
@import "./layout/layout.scss";
@import "./pages/pages.scss";
@import "../lib/semantic/semantic-overrides.scss";
@import "./global";